* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-primary: #fafafa;
    --bg-shade: #f3f3f3;
    --bg-shade-bold: #e6e6e6;
    --bg-mid: #aaa;
    --bg-mid-bold: #777;
    --text-primary: #111;
    --text-disabled: #777;
    --text-blend: #efefef;
    --border-fade: var(--bg-mid);
    --border-primary: #e1e1e1;
    --theme-primary: #97c1e4;
    --theme-bg: #5a90bd;
    --theme-border: #699eca;
    --theme-text: #fff;
    --theme-fade: #d3e8ee;
    --theme-border-fade: rgb(148, 171, 190);
    --theme-shade: #75a4c9;
    --theme-bg-shade: #5584a8;
    --theme-disabled: #ebf0f5;
}
/*
#text-size-ctr label:has([type=radio]:checked) {
    color: var(--text-blend);
    background-color: rgb(83, 158, 219);
    border-color: rgb(83, 158, 219);
}
*/

[data-theme="dark"] {
    --bg-primary: #161628;
    --bg-shade: #212133;
    --bg-shade-bold: #27273f;
    --bg-mid: #3c3c63;
    --bg-mid-bold: #53538b;
    --text-primary: #efefef;
    --text-disabled: #aaa;
    --text-blend: #111;
    --border-fade: #aaa;
    --border-primary: var(--bg-mid);
    --theme-primary: #508ab6;
    --theme-bg: var(--theme-primary);
    --theme-border: #3a729c;
    --theme-text: #efefef;
    --theme-fade: #4c607a;
    --theme-border-fade: #6081a7;
    --theme-shade: #2d628b;
    --theme-bg-shade: var(--theme-shade);
    --theme-disabled: #313f50;
}

body {
    background-color: var(--bg-primary);
    color: var(--text-primary)
}

.cache-reload-p {
    display: none;
}

input.wpm {
    width: 4em !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input[type=number]::placeholder {
    color: #888;
    opacity: 0.4; /* Firefox */
}

input[type=number]::-ms-input-placeholder { /* Edge 12 -18 */
    color: #888;
    opacity: 0.4;
}

select, input[type=text]:not(.form-control) {
    background-color: var(--bg-shade);
    width: 100%;
    padding: 8px 5px;
    border: none;
    border-radius: 5px;
}

select:active, select:focus, input[type=text]:not(.form-control):active, input[type=text]:not(.form-control):focus {
    outline: 2px solid var(--border-primary);
}

div.container-fluid {
    margin: 20px 10px;
}

div.container-fluid > div {
    max-width: 600px;
}

#curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0004;
    z-index: 10;
}

@keyframes optionbar-appear {
    0% {
        height: 0px;
        padding: 0px;
        opacity: 0;
    }
    100% {
        height: 80px;
        padding: 15px;
        opacity: 1;
    }
}

@keyframes optionbar-disappear {
    0% {
        height: 80px;
        padding: 15px;
        opacity: 1;
    }
    100% {
        height: 0px;
        padding: 0px;
        opacity: 0;
    }
}

#optionbar {
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-primary);
    box-shadow: 0px 2px 10px #000e;
    animation: optionbar-appear .5s forwards paused;
    z-index: 5;
}

#left-options-ctr {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

#center-options-ctr {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#right-options-ctr {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

#right-options-ctr button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#timer, #solo-timer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#timer input, #solo-timer input {
    display: block;
    width: 2.4ch;
    height: fit-content;
    padding: 4px 0px;
    background-color: var(--bg-primary);
    border: none;
    border-radius: 8px;
    text-align: center;
    font-size: 40px;
    transition: .1s;
}

#timer input:hover, #solo-timer input:hover {
    background-color: var(--bg-shade);
}

#timer input:focus, #solo-timer input:focus {
    background-color: var(--bg-shade-bold);
    outline: none;
}

.timer-btn {
    width: 40px;
    height: 40px;
    background-color: var(--theme-primary);
    border: none;
    border-radius: 50%;
    transition: .1s;
}

.timer-btn:disabled {
    background-color: var(--theme-disabled);
    color: var(--text-disabled);
    cursor: not-allowed;
}

.timer-btn:not(:disabled):hover {
    background-color: var(--theme-shade);
}

#content-ctr {
    display: flex;
    align-items: center;
    flex-flow: column;
}

#generator2 {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: var(--bg-primary);
    box-shadow: 0px 0px 10px #000a;
    padding: 20px 40px;
    overflow-y: auto;
    z-index: 20;
}

#text-size-ctr label:has([type=radio]) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 50px;
    height: 40px;
    border: 2px solid var(--border-fade);
    border-radius: 10px;
    transition: background-color 0.3s;    
}

#text-size-ctr label:has([type=radio]:not(:disabled)) {
    cursor: pointer;
}

#text-size-ctr label:has([type=radio]):hover {
    color: var(--text-primary);
    background-color: var(--theme-fade);
    border-color: var(--theme-border-fade);
}

#text-size-ctr label:has([type=radio]:checked) {
    color: var(--text-blend);
    background-color: var(--theme-primary);
    border-color: var(--theme-primary);
}

#text-size-ctr input[type=radio] {
    display:none;
}

#close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 30px;
    color: var(--bg-mid);
    cursor: pointer;
    transition: .1s;
}

#close:hover {
    color: var(--bg-mid-bold)
}

#passage-settings-ctr {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.theme-btn {
    padding: 5px 10px;
    background-color: var(--theme-bg);
    color: var(--theme-text);
    border: 2px solid var(--theme-border);
    border-radius: 5px;
}

.theme-btn:hover, .theme-btn:active {
    background-color: var(--theme-bg-shade);
}


.control-btn {
    display: inline-block;
}
.control-btn:not(:first-child) {
    margin-left: 5px;
}

/* Circular Timer Countdown */

#solo-timer-ctr {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100%;
}

#solo-timer {
    width: 300px;
    height: 300px;
}

#st-svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    pointer-events: none;
}

#st-circle {
    fill: none;
    stroke: none;
}

#st-bg {
    stroke-width: 5px;
    stroke: var(--bg-shade);
}

#st-time {
    stroke-width: 5px;
    stroke: var(--theme-primary);
    stroke-linecap: round;
    stroke-dasharray: 283 283;
    transform: rotate(90deg) scaleX(-1);
    transform-origin: center;
    transition: 1s linear all;
}

#st-btn-ctr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.st-timer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    background-color: var(--theme-primary);
    color: var(--theme-text);
    border: none;
    border-radius: 50%;
    transition: .1s;
}

.st-timer-btn:disabled {
    background-color: var(--theme-disabled);
    color: var(--text-disabled);
    cursor: not-allowed;
}

.st-timer-btn:not(:disabled):hover {
    background-color: var(--theme-shade);
}

#passages {
    margin: 0px auto;
    padding: 20px 0;
}

.passage {
    background-color: var(--bg-shade);
    border: 3px solid var(--border-primary);
    border-radius: 8px;
    padding: 8px;
    margin-top: 40px;
    position: relative;
    width: clamp(300px, 90vw, 600px);
    page-break-inside: avoid;
}

.passage p, .passage span {
    cursor: crosshair;
}

.passage span.has-error {
    color: #a94442;
    background-color: #ec818122;
    text-decoration: underline;
}

.hide-text-ctr .passage {
    display: flex;
    align-items: space-between;
    justify-content: center;
    position: relative;
    width: clamp(300px, 90vw, 600px);
}

.hide-text-ctr .reference-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.hide-text-ctr .passage p, .hide-text-ctr .reference-bottom {
    display:none;
}

.hide-text-ctr .reference-top {
    margin: 0;
}

div.reference-top {
    font-weight: bold;
    margin-bottom: 1em;
}

div.reference-bottom {
    margin-top: 1em;
}

div.reference-bottom a {
    float: right;
}

.number {
    border-radius: 15%;
    font-size: 1.25em;
    width: 2em;
    text-align: center;
    float: right;
    color: #999;
}

@media screen {
    body {
        padding-bottom: 50vh;
    }
}

@media only screen and (max-width:800px) {
    .txt-desktop {
        display: none;
    }
    #generator2 {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
}

@media only screen and (min-width:800px) {
    .txt-desktop {
        display: block;
    }
    #generator2 {
        width: 400px;
        border-radius: 20px;
    }
}

@media print {
    .extra-link {
        display: none;
    }
    #curtain {
        display: none;
    }

    #optionbar {
        display: none;
    }

    #solo-timer-ctr {
        display: none;
    }

    #passage-settings-ctr {
        display: none;
    }

    #generator {
        display: none;
    }

    .passage {
        padding: 0;
    }

    div.reference-bottom a {
        display: none;
    }
}
